@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "boston-angel";
    src: url("../../assets/boston-angel-regular.ttf");
}

$primary-color: #fff;
$background-color: #A7BDE4;
$text-color: #3c3f64;


// body {
//   font: normal 16px/1.5 'Titillium Web', sans-serif;
//   background: $background-color;
//   color: $text-color;
//   overflow-x: hidden;
//   padding-bottom: 50px;
// }


:root{
    --60-color : #1a2754;
    --30-color : #395985;
    --10-color : #FCADCB;

    --pink-dark: #701459;
    --blue-light : #A7BDE4;

    --text-color : #FCFBF9
}

html{
    height: 500vh;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;

}

*{
    font-family: Montserrat, "arial";
    text-decoration: none;
    color: var(--text-color);
    list-style: none;
    // letter-spacing: .1rem;
    //pointer-events: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


section{
    position: relative;
    @media (min-width: 320px) {
        padding: 0 1.5rem;
    }

    @media (min-width: 768px) {
        padding: 0 3rem;
    }

    @media (min-width: 1024px) {
        padding: 0 10rem;
    }

    @media (min-width: 1440px) {
        padding: 0 15rem;
    }
}

nav{
    position: relative;
    z-index: 100 !important;
    .desktop{
        background-color: var(--60-color);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 2rem .5rem 2rem;
        color: var(--white-color);


        .logo-wrapper{
            width: 3rem;
            height: 3rem;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        ul{
            display: flex;
            gap: 1rem;
            align-items: center;

            a{
                padding: .1rem .5rem;
            }

            .download{
                background-color: var(--10-color);
                padding: .5rem;
                font-weight: bold;
                border-radius: 3px;
                font-size: 1.1rem;
                transition: all .1s linear;

                li{
                    color: var(--60-color);
                    font-family: boston-angel;
                    width: 6rem;
                    text-align: center;
                    transition: all .1s linear;

                    &:hover{
                        color: var(--text-color);
                    }
                }

                &:hover{
                    background-color: var(--30-color);

                }
            }
        }
    }

    .mobile{
        position: relative;
        z-index: 100;
        display: none;

        .outer{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 2rem 0 2rem;

            .logo-wrapper{
                width: 3rem;
                height: 3rem;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            svg{
                padding: 1rem;
                cursor: pointer;
                width: 4rem;
                height: 4rem;
                color: var(--white-color);
            }
        }

        .middle{
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba($color: #000000, $alpha: .5);
            display: none;
        }

        .inner{
            transition: all .2s linear;
            position: fixed;
            top: 0;
            right: -100%;

            background-color: var(--60-color);
            height: 100vh;
            width: 40%;

            ul{
                padding-top: 5rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                
                a{
                    color: var(--black-color);

                    li{
                        padding: 1rem;
                        transition: all .1s linear;

                        &:hover{
                            background-color: var(--primary-color);
                        }
                    }
                }

                .download{
                    background-color: var(--10-color);
                    padding: .5rem;
                    font-weight: bold;
                    border-radius: 3px;
                    font-size: 1.1rem;
                    transition: all .1s linear;
    
                    li{
                        color: var(--60-color);
                        font-family: boston-angel;
                        width: 6rem;
                        text-align: center;
                        transition: all .1s linear;
    
                        &:hover{
                            color: var(--text-color);
                        }
                    }
    
                    &:hover{
                        background-color: var(--30-color);
    
                    }
                }
            }
        }
    }

        //small navbar
        @media (max-width: 900px){
            .desktop{
                display: none;
            }

            .mobile{
                display: block;
            }
        }
}


.spacer{
    aspect-ratio: 900/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about-timeline{
    background-image: url("../../assets/images/about\ -\ timeline.svg");
}

.guide-merchandise{
    background-image: url("../../assets/images/competition\ spacer.png");
}

.logo-bare-glow {
    animation: pulseGlow 5s infinite ease-in-out; 
    transition: filter 0.5s ease;
}

.hero{
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(var(--10-color) ,var(--60-color));

    .amsa-ui-logo{
        z-index: 10;
        position: absolute;
        top: 10%;
        right: 10px;
        width: 10rem;
    }

    .arrow{
        width: 5rem;
        height: 5rem;
        position: absolute;
        top: 600px;
        left: 50%;
        transform: translateX(-50%);
        animation: bob 2s infinite ease-in-out;
        padding: 1rem;
        cursor: pointer;
    }

    @media (max-width: 850px) {
        .arrow{
            top: 500px;
        }
    }

    .cloud{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 120%;
        transform: translate(-50%, -50%);
        filter: blur(5px);
    }

    .sun{
        position: absolute;
        top: -15%;
        left: 50%;
        transform: translateX(-50%);
        width: 75%;
        height: 25%;
        background-color: var(--text-color);
        border-radius: 0 0 50% 50%; 
        overflow: hidden; 
        filter: blur(50px);
        opacity: 0.8;
    }

    svg{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .plane{
        width: 20rem;
        position: absolute;
        top: 10rem;
        right: -20rem;
    }

    .container-hero{
        width: 90%;
        position: relative;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

        .complete-logo{
            display: none;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .reborn{
            position: absolute;
            width: 15rem;
            height: 15rem;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

        }

        .letter{
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            z-index: -1;
        }

        .logo{
            position: relative;
            margin: 0 auto;
            width: 20rem;
            height: 20rem;
            z-index: 2;
        }

        .e {
            left: -8rem;
            transform: translateY(-50%) rotate(10deg); 
        }
        
        .r {
            left: -20rem;
            transform: translateY(-50%) rotate(-15deg);
        }

        .b{
            top: 45%;
            left: 30%;
            transform: translate(-50%, -50%);
            scale: 0.5;
            z-index: -1;
        }
        
        .o {
            left: 13rem;
            transform: translateY(-50%) rotate(-7deg); 
        }
        
        .r-small {
            left: 24rem;
            transform: translateY(-50%) rotate(-8deg); 
        }
        
        .n {
            left: 35rem;
            transform: translateY(-50%) rotate(10deg); 
        }
        
    }
}

@media (max-width: 1262px) {
    .reborn{
        position: absolute;
        width: 10rem !important;
        height: 10rem !important;
    }

    .logo{
        width: 15rem !important;
        height: 15rem !important;
    }

    .e {
        left: -5rem !important;
    }
    
    .r {
        left: -13rem !important;
    }
    
    .o {
        left: 10rem !important;
    }
    
    .r-small {
        left: 17rem !important;
    }
    
    .n {
        left: 24rem !important;
    }
}


@media (max-width: 850px) {
    .reborn{
        position: absolute;
        width: 7rem !important;
        height: 7rem !important;
    }

    .logo{
        width: 10rem !important;
        height: 10rem !important;
    }

    .e {
        left: -3.5rem !important;
    }
    
    .r {
        left: -9rem !important;
    }
    
    .o {
        left: 6.5rem !important;
    }
    
    .r-small {
        left: 11.5rem !important;
    }
    
    .n {
        left: 16rem !important;
    }
}

@media (max-width: 667px) {
    .reborn{
        display: none;
    }


    .complete-logo{
        display: block !important;

        width: 20rem ;
        height: 20rem ;
        position: absolute;
        top: -100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.about{
    min-height: 60rem;
    width: 100%;
    background-color: var(--60-color);
    position: relative;

}

.about-card-reborn-two{
    background-color: var(--30-color);
    padding: 1rem;
    border-radius: 5px;
    max-width: 40rem;
    margin-top: 1rem;
    display: none;

h1{
    font-family: boston-angel;
    font-size: 2.5rem;
    margin-bottom: .5rem;
    padding: 0;
    margin: 0;
    border: none;
}

.button-container{
    display: flex;
    gap: 1rem;

    .button{
        height: 3rem;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        border-radius: 3px;
        margin-top: 2rem;
        flex: 1fr;
        width: 100%;
        cursor: pointer;
    }

    .register{
        background-color: var(--10-color);
        transition: all .2s linear;

        &:hover{
            background-color: var(--60-color);
        }
    }

    .explore{
        border: 2px solid var(--60-color);
        background-color: transparent;
        color: var(--60-color);
        transition: all .2s linear;

        &:hover{
            background-color: var(--60-color);
            color: var(--text-color);
            border: none;
        }
    }
}

}



.about-card{
    position: absolute;
    background-color: var(--30-color);
    padding: 1rem;
    border-radius: 5px;
    max-width: 40rem;

    top: 0;
    right: -60rem;

    h1{
        font-family: boston-angel;
        font-size: 2.5rem;
        margin-bottom: .5rem;
    }

    .button-container{
        display: flex;
        gap: 1rem;

        .button{
            height: 3rem;
            font-size: 1rem;
            font-weight: bold;
            border: none;
            border-radius: 3px;
            margin-top: 2rem;
            flex: 1fr;
            width: 100%;
            cursor: pointer;
        }

        .register{
            background-color: var(--10-color);
            transition: all .2s linear;

            &:hover{
                background-color: var(--60-color);
            }
        }

        .explore{
            border: 2px solid var(--60-color);
            background-color: transparent;
            color: var(--60-color);
            transition: all .2s linear;

            &:hover{
                background-color: var(--60-color);
                color: var(--text-color);
                border: none;
            }
        }
    }


}

.about-card-two{
    position: relative;
    background-color: var(--30-color);
    padding: 1rem;
    border-radius: 5px;
    display: none;

    h1{
        font-family: boston-angel;
        font-size: 2.5rem;
        margin-bottom: .5rem;
    }

    .button-container{
        display: flex;
        gap: 2rem;


        .button{
            height: 3rem;
            font-size: 1rem;
            font-weight: bold;
            border: none;
            border-radius: 3px;
            margin-top: 2rem;
            flex: 1fr;
            width: 100%;
            cursor: pointer;
        }

        .register{
            background-color: var(--10-color);
            transition: all .2s linear;

            &:hover{
                background-color: #1a2754;
            }
        }

        .explore{
            border: 2px solid var(--60-color);
            background-color: transparent;
            color: var(--60-color);
            transition: all .2s linear;

            &:hover{
                background-color: var(--60-color);
                color: var(--text-color);
                border: none;
            }
        }
    }
}
.about-spacer{
    height: 10rem;
}
@media (max-width: 1262px) {
    .about-card{
        max-width: 25rem;
    }
}

@media (max-width: 850px) {
    .about-card{
        max-width: 20rem;
    }

}

@media (max-width: 667px) {
    .about-card{
        display: none;
    }

    .about-card-two, .about-card-reborn-two{
        display: block;
    }

    .about{
        height: 50rem;
    }
}


.timeline {
    position: relative;
    background-color: var(--blue-light);
    padding-bottom: 10rem;
    color: var(--60-color);

    .bg{
        position: absolute;
    }

    .book-1{
        top: 0;
        left: 0;
        width: 15rem;
    }
    .could-timeline-1{
        top: 40rem;
        right: 0;
        width: 25rem;
        transform: rotate(-90deg);
    }

    .book-2{
        top: 65rem;
        left: 0;
        width: 10rem;
    }

    @media (max-width: 1800px) {
        .could-timeline-1{
            top: 35rem;
            width: 20rem;
        }
    
    }

    @media (max-width: 750px) {
        .book-1{
            top: 100px;
            width: 13rem;
        }

        .could-timeline-1{
            top: 50rem;
            width: 15rem;
        }

        .book-2{
            width: 10rem;
        }
    
    }

    @media (max-width : 600px) {
        .bg{
            display: none;
        }
    }


    .hero-timeline{
        margin: 0 auto;
        width: fit-content;
        padding: 0 0 2rem 0;
        font-size: 3.5rem;
        font-family: boston-angel;
        letter-spacing: .5rem;
        color: var(--60-color);
    }

    ul {
      li {
        list-style-type: none;
        position: relative;
        width: 6px;
        margin: 0 auto;
        padding-top: 50px;
        background: var(--60-color);
        color: var(--60-color);
        &::after {
          content: '';
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%) rotate(45deg);
          width: 20px;
          height: 20px;
          z-index: 2;
          background: var(--60-color);
        }
        div {
          position: relative;
          bottom: 0;
          width: 400px;
          padding: 20px;
          background: $primary-color;
          box-shadow: 4px 13px 30px 1px var(--10-color);
          border-radius: 5px;
          display: flex;
          align-items: center;

          h1{
            color: var(--60-color);
            }
          time {
            position: absolute;
            background: var(--10-color);
            width: fit-content;
            padding: .5rem;
            height: 30px;
            top: -15px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 2px;
            color: var(--60-color);
            font-weight: bold;
          }
        }
        &:nth-of-type(odd) {
          > div {
            left: 45px;
          }
        }
        &:nth-of-type(even) {
          > div {
            left: -439px;
          }
        }
      }
    }
  }
  
  // ANIMATION
  .timeline {
    ul {
      li {
        div {
          visibility: hidden;
          opacity: 0;
          transition: all 0.5s ease-in-out;
        }
        &:nth-of-type(odd) {
          div {
            transform: translate3d(100px, -10px, 0) rotate(10deg);
          }
        }
        &:nth-of-type(even) {
          div {
            transform: translate3d(-100px, -10px, 0) rotate(10deg);
          }
        }
        &.in-view {
          div {
            transform: none;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 900px) {
    .timeline {
      ul {
        li {
          div {
            width: 250px;
            flex-direction: column;
            div {
              width: 80%;
              margin: 10px;
            }

            time{
                font-size: .6rem;
            }
          }
          &:nth-of-type(even) {
            > div {
              left: -289px;
            }
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 600px) {
    .timeline {
      ul {
        li {
          margin-left: 20px;
          div {
            width: calc(100vw - 120px);

            time{
                font-size: .6rem;
                font-weight: bold;
            }
          }
          &:nth-of-type(even) {
            > div {
              left: 45px;
            }
          }
        }
      }
    }
  }
  
  .guideline{
    height: 100%;
    background-color: var(--blue-light);



    .guideline-container{
        background-color: #395985;
        border-radius: 20px;
        padding: 2rem;

        .guideline-flex{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            padding-bottom: 2rem;
            flex-wrap: wrap;


            .each-guide-line{
                padding: 1rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                max-width: 25rem;
                flex: 1fr;
                border-left: 3px solid var(--60-color);

                .img-exp-container{
                    display: flex;
                    align-items: center;
                    //justify-content: space-between;
                    gap: 1rem;
                    p{
                        font-weight: bold;
                        font-size: 1.2rem;
                    }

                    svg{
                        height: 3rem;
                        width: 3rem;
                    }
                }


            }

            // .guideline-middle{
            //     border-left: 3px solid var(--60-color);
            //     border-right: 3px solid var(--60-color);
            // }
        }

        @media (max-width: 1140px) {
            .guideline-flex{
                flex-direction: column;
            }

            // .guideline-middle{
            //     border-left: none !important;
            //     border-right: none !important;
            //     // border-top: 3px solid var(--60-color);
            //     border-bottom: 3px solid var(--60-color);
            // }

            .each-guide-line{
                max-width: 100% !important;

                border-left: none !important;
                border-right: none !important;
                // border-top: 3px solid var(--60-color);
                border-bottom: 3px solid var(--60-color);
            }

            // .img-exp-container{
            //     padding: 0 15% !important;
            // }
        }
    }

    .guideline-hero{
        margin: 0 auto;
        width: fit-content;
        padding: 0 0 2rem 0;
        font-size: 3rem;
        font-family: boston-angel;
        //letter-spacing: .5rem;
        color: var(--60-color);
    }

    .button-guideline{
        height: 3rem;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        flex: 1fr;
        width: 10rem;
        cursor: pointer;
        display: block;
        margin: 1rem auto;
        background-color: var(--10-color);
        color: var(--text-color);
        transition: all .2s ease-in-out;

        &:hover{
            border: solid 2px var(--10-color);
            background-color: var(--30-color);
            color: var(--10-color);
        }
    }

    .guide{
        background-color: var(--60-color);
        color: var(--text-color);

        &:hover{
            border: solid 2px var(--60-color);
            background-color: var(--30-color);
            color: var(--60-color);
        }
    }
  }

@keyframes pulseGlow {
    0% {
        filter: drop-shadow(0 0 0px var(--10-color))
                drop-shadow(0 0 0px var(--pink-dark));
    }
    50% {
        filter: drop-shadow(0 0 40px var(--10-color))
                drop-shadow(0 0 80px var(--pink-dark));
    }
    70% {
        filter: drop-shadow(0 0 20px var(--10-color))
                drop-shadow(0 0 40px var(--pink-dark));
    }
    100% {
        filter: drop-shadow(0 0 0px var(--10-color))
                drop-shadow(0 0 0px var(--pink-dark));
    }
}

@keyframes bob {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(20px);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

// :root {
//     --bg1: url("../../assets/throughout/10.png");
//     --bg2: url("../../assets/throughout/11.jpg");
//     --bg3: url("../../assets/throughout/12.jpg");
//     --bg4: url("../../assets/throughout/12.jpg");
//   }
  
//   @function get-background($index) {
//     @return var(--bg#{$index});
//   }
  
  .throughout-wrapper{
    padding: 0;
    background: var(--60-color);
    
    .about-card-reborn{
        background-color: var(--30-color);
        padding: 1rem;
        border-radius: 5px;
        max-width: 50rem;
        margin-left: 5rem;  
        margin-right: 1rem;

        
    
    h1{
        font-family: boston-angel;
        font-size: 2.5rem;
        margin-bottom: .5rem;
        padding: 0;
        margin: 0 !important;
        border: none !important;
    }
    
    .button-container{
        display: flex;
        gap: 1rem;
    
        .button{
            height: 3rem;
            font-size: 1rem;
            font-weight: bold;
            border: none;
            border-radius: 3px;
            margin-top: 2rem;
            flex: 1fr;
            width: 100%;
            cursor: pointer;
        }
    
        .register{
            background-color: var(--10-color);
            transition: all .2s linear;
    
            &:hover{
                background-color: var(--60-color);
            }
        }
    
        .explore{
            border: 2px solid var(--60-color);
            background-color: transparent;
            color: var(--60-color);
            transition: all .2s linear;
    
            &:hover{
                background-color: var(--60-color);
                color: var(--text-color);
                border: none;
            }
        }
    }
    
    }

    @media (max-width:666px) {
        .about-card-reborn{
            display: none;
        }
    }



    h1{
        font-size: 3rem;
        padding: 1rem;
        margin-left: 5rem;
        border-bottom: 3px solid var(--10-color) ;
        width: fit-content;
        font-family: boston-angel;
    }

    @media (max-width: 700px) {
        h1{
            font-size: 2rem;
            padding: 0 3rem;
            margin: 0;
            white-space: pre-line;
            width: 100%;
        }
    }
  }
  .throughout {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;


  }
  
  .box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    max-width: 1100px;
    height: 70vh;
    //max-height: 900px;
    padding: 1rem;
    margin: 0 auto;

    .box-1{
        background: url("../../assets/throughout/10.png") !important;
    }

    .box-2{
        background: url("../../assets/throughout/10.png") !important;
    }

    .box-3{
        background: url("../../assets/throughout/10.png") !important;
    }

    .box-4{
        background: url("../../assets/throughout/10.png") !important;
    }


    .box {
       //@for $i from 1 through 4 {
         //&:nth-child(#{$i}) {
            // background: get-background($i);

         //}
      //}
      background-size: cover !important;
      background-repeat: no-repeat !important;
      background-position:center !important;
      background-size: auto 200%;
      width: 25%;
      height: 340px;
      border-radius: 25px;
      cursor: pointer;
      transition: width 0.5s ease-in-out;
      position: relative;
      overflow: hidden;
  
      .overlay {
        opacity: 0;
      }
  
      &.closed {
        width: 5%;
        .overlay {
          opacity: 1;
        }
      }
  
      &.expanded {
        width: 85%;
      }
    }


  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  }
  

.merchandise{
    background-color: var(--60-color);
    padding-top: 5rem;
    padding-bottom: 10rem;


    h1{
        font-family: boston-angel;
        font-size: 4rem;
        margin-bottom: .5rem;
    }

    .cta{
        display: flex;
        gap: 2rem;
        align-items: center;

        button{
            height: 3rem;
            font-size: 1rem;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            width: 10rem;
            cursor: pointer;
            display: block;
            background-color: var(--10-color);
            color: var(--60-color);
        }
    }
    p{
        border-bottom: 3px solid var(--10-color);
        width: fit-content;
        padding-bottom: .5rem;
    }


    .img-container{
        width: 100%;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.faq{
    min-height: 100vh;
    background: linear-gradient(var(--60-color), var(--30-color) ); 
    padding-bottom: 10rem;
    h1{
        font-family: boston-angel;
        font-size: 4rem;
        margin-bottom: .5rem;
        border-bottom: 3px solid var(--10-color);
        width: fit-content;
        margin-bottom: 5rem;
        text-align: right;
        float: right;
    }

    @media (max-width: 870px) {
        h1{
            float: none;
        }
    }
}
.question{

    display: flex;
    justify-content: center;
    align-items: center;

    .faq-container {
        width: 600px;
        //background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      
      .faq-item {
        padding: 20px;
        border-bottom: 1px solid #e0e0e0;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .faq-item:last-child {
        border-bottom: none;
      }
      
      .faq-question {
        font-size: 18px;
        font-weight: 700;
        padding-bottom: 3px;
        padding-top: 3px;
      }
      
      .faq-answer {
        font-size: 16px;
        max-height: 0;
        overflow: hidden;
        //transition: max-height 0.3s ease-in-out;
        padding-left: 10px;
        padding-right: 10px;
      }
      
      .faq-answer.active {
        border-bottom: 1px solid #e0e0e0;
        padding: 1rem;
      }
      
      .icon-container i {
        font-size: 16px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
      }
      
      .icon-container i.active {
        transform: rotate(90deg);
      }
    
    
}

.sponsor{
    min-height: 100vh;
    background: linear-gradient(var(--30-color), var(--60-color) ); 
    position: relative;

    .cloud{
        position: absolute;
        width: 40rem;
        top: -100px;
    }
    .cloud-1-sponsor{
        left: -100px;
    }

    .cloud-2-sponsor{
        right: -100px;
        transform: scaleX(-1);
    }

    h1{
        font-family: boston-angel;
        font-size: 4.5rem;
        width: fit-content;
        margin: 0 auto;
    }

    .sponsor-video{
        //aspect-ratio: 16/9;
        width: 500px;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .image{
        border-radius: 10px;
        top: 55%;

    }

    @media (max-width: 1110px) {
        .cloud{
            width: 30rem ;
        }
    }

    @media (max-width: 850px) {
        .cloud{
            width: 20rem ;
            top: -50px;
        }
    }
    
    @media (max-width: 550px) {
        .cloud{
            width: 18rem ;
            top: 0;
        }

        .cloud-1-sponsor{
            left: -150px;
        }
    
        .cloud-2-sponsor{
            right: -150px;
        }
    }

    @media (max-width: 650px) {
        .sponsor-video{
            width: 350px;
        }
    }


    @media (max-width: 380px) {
        .cloud{
            width: 15rem ;
            top: 80px;
        }

        .cloud-1-sponsor{
            left: -100px;
        }
    
        .cloud-2-sponsor{
            right: -100px;
        }

        .sponsor-video{
            width: 300px;
        }
    }

    


}

.footer{
    display: flex;
    background-color: var(--10-color);
    border-top: 10px solid var(--30-color);
    justify-content: space-between;
    align-items: center;
    height: 5rem;


    .logo{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;

        svg{
            width: 2rem;
            color: var(--text-color);
        }
    }
}


.animate-on-observe {
    opacity: 0;
    transition: opacity .8s ease-out, transform .8s ease-out;
}

.animate-up {
    transform: translateY(50px);
}
.animate-up.active {
    opacity: 1;
    transform: translateY(0);
}

.animate-down {
    transform: translateY(-50px);
}
.animate-down.active {
    opacity: 1;
    transform: translateY(0);
}

.animate-left {
    transform: translateX(-50px);
}
.animate-left.active {
    opacity: 1;
    transform: translateX(0);
}

.animate-right {
    transform: translateX(50px);
}
.animate-right.active {
    opacity: 1;
    transform: translateX(0);
}