@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "boston-angel";
  src: url("../../assets/boston-angel-regular.ttf");
}
:root {
  --60-color: #1a2754;
  --30-color: #395985;
  --10-color: #FCADCB;
  --pink-dark: #701459;
  --blue-light: #A7BDE4;
  --text-color: #fcfbf9 ;
}

html {
  height: 500vh;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

* {
  font-family: Montserrat, "arial";
  text-decoration: none;
  color: var(--text-color);
  list-style: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  position: relative;
}
@media (min-width: 320px) {
  section {
    padding: 0 1.5rem;
  }
}
@media (min-width: 768px) {
  section {
    padding: 0 3rem;
  }
}
@media (min-width: 1024px) {
  section {
    padding: 0 10rem;
  }
}
@media (min-width: 1440px) {
  section {
    padding: 0 15rem;
  }
}

.spacer {
  aspect-ratio: 900/200;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-timeline {
  background-image: url("../../assets/images/about - timeline.svg");
}

.guide-merchandise {
  background-image: url("../../assets/images/competition spacer.png");
}

.logo-bare-glow {
  animation: pulseGlow 5s infinite ease-in-out;
  transition: filter 0.5s ease;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(var(--10-color), var(--60-color));
}
.hero .arrow {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 600px;
  left: 50%;
  transform: translateX(-50%);
  animation: bob 2s infinite ease-in-out;
  padding: 1rem;
  cursor: pointer;
}
@media (max-width: 850px) {
  .hero .arrow {
    top: 500px;
  }
}
.hero .cloud {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  transform: translate(-50%, -50%);
  filter: blur(5px);
}
.hero .sun {
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: 25%;
  background-color: var(--text-color);
  border-radius: 0 0 50% 50%;
  overflow: hidden;
  filter: blur(50px);
  opacity: 0.8;
}
.hero svg {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero .plane {
  width: 20rem;
  position: absolute;
  top: 10rem;
  right: -20rem;
}
.hero .container-hero {
  width: 90%;
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.hero .container-hero .complete-logo {
  display: none;
}
.hero .container-hero .complete-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero .container-hero .reborn {
  position: absolute;
  width: 15rem;
  height: 15rem;
}
.hero .container-hero .reborn img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero .container-hero .letter {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
}
.hero .container-hero .logo {
  position: relative;
  margin: 0 auto;
  width: 20rem;
  height: 20rem;
  z-index: 2;
}
.hero .container-hero .e {
  left: -8rem;
  transform: translateY(-50%) rotate(10deg);
}
.hero .container-hero .r {
  left: -20rem;
  transform: translateY(-50%) rotate(-15deg);
}
.hero .container-hero .b {
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
  scale: 0.5;
  z-index: -1;
}
.hero .container-hero .o {
  left: 13rem;
  transform: translateY(-50%) rotate(-7deg);
}
.hero .container-hero .r-small {
  left: 24rem;
  transform: translateY(-50%) rotate(-8deg);
}
.hero .container-hero .n {
  left: 35rem;
  transform: translateY(-50%) rotate(10deg);
}

@media (max-width: 1262px) {
  .reborn {
    position: absolute;
    width: 10rem !important;
    height: 10rem !important;
  }
  .logo {
    width: 15rem !important;
    height: 15rem !important;
  }
  .e {
    left: -5rem !important;
  }
  .r {
    left: -13rem !important;
  }
  .o {
    left: 10rem !important;
  }
  .r-small {
    left: 17rem !important;
  }
  .n {
    left: 24rem !important;
  }
}
@media (max-width: 850px) {
  .reborn {
    position: absolute;
    width: 7rem !important;
    height: 7rem !important;
  }
  .logo {
    width: 10rem !important;
    height: 10rem !important;
  }
  .e {
    left: -3.5rem !important;
  }
  .r {
    left: -9rem !important;
  }
  .o {
    left: 6.5rem !important;
  }
  .r-small {
    left: 11.5rem !important;
  }
  .n {
    left: 16rem !important;
  }
}
@media (max-width: 667px) {
  .reborn {
    display: none;
  }
  .complete-logo {
    display: block !important;
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.about {
  height: 60rem;
  width: 100%;
  background-color: var(--60-color);
  position: relative;
}

.about-card {
  position: absolute;
  background-color: var(--30-color);
  padding: 1rem;
  border-radius: 5px;
  max-width: 40rem;
  top: 0;
  right: -60rem;
}
.about-card h1 {
  font-family: boston-angel;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
.about-card .button-container {
  display: flex;
  gap: 1rem;
}
.about-card .button-container .button {
  height: 3rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  margin-top: 2rem;
  flex: 1fr;
  width: 100%;
  cursor: pointer;
}
.about-card .button-container .register {
  background-color: var(--10-color);
  transition: all 0.2s linear;
}
.about-card .button-container .register:hover {
  background-color: var(--60-color);
}
.about-card .button-container .explore {
  border: 2px solid var(--60-color);
  background-color: transparent;
  color: var(--60-color);
  transition: all 0.2s linear;
}
.about-card .button-container .explore:hover {
  background-color: var(--60-color);
  color: var(--text-color);
  border: none;
}

.about-card-two {
  position: relative;
  background-color: var(--30-color);
  padding: 1rem;
  border-radius: 5px;
  display: none;
}
.about-card-two h1 {
  font-family: boston-angel;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
.about-card-two .button-container {
  display: flex;
  gap: 2rem;
}
.about-card-two .button-container .button {
  height: 3rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  margin-top: 2rem;
  flex: 1fr;
  width: 100%;
  cursor: pointer;
}
.about-card-two .button-container .register {
  background-color: var(--10-color);
  transition: all 0.2s linear;
}
.about-card-two .button-container .register:hover {
  background-color: #1a2754;
}
.about-card-two .button-container .explore {
  border: 2px solid var(--60-color);
  background-color: transparent;
  color: var(--60-color);
  transition: all 0.2s linear;
}
.about-card-two .button-container .explore:hover {
  background-color: var(--60-color);
  color: var(--text-color);
  border: none;
}

.about-spacer {
  height: 10rem;
}

@media (max-width: 1262px) {
  .about-card {
    max-width: 25rem;
  }
}
@media (max-width: 850px) {
  .about-card {
    max-width: 20rem;
  }
}
@media (max-width: 667px) {
  .about-card {
    display: none;
  }
  .about-card-two {
    display: block;
  }
  .about {
    height: 50rem;
  }
}
.timeline {
  position: relative;
  background-color: var(--blue-light);
  padding-bottom: 10rem;
  color: var(--60-color);
}
.timeline .bg {
  position: absolute;
}
.timeline .book-1 {
  top: 0;
  left: 0;
  width: 15rem;
}
.timeline .could-timeline-1 {
  top: 40rem;
  right: 0;
  width: 25rem;
  transform: rotate(-90deg);
}
.timeline .book-2 {
  top: 70rem;
  left: 0;
  width: 15rem;
}
@media (max-width: 1800px) {
  .timeline .could-timeline-1 {
    top: 35rem;
    width: 20rem;
  }
}
@media (max-width: 750px) {
  .timeline .book-1 {
    top: 100px;
    width: 13rem;
  }
  .timeline .could-timeline-1 {
    top: 50rem;
    width: 15rem;
  }
  .timeline .book-2 {
    width: 10rem;
  }
}
@media (max-width: 600px) {
  .timeline .bg {
    display: none;
  }
}
.timeline .hero-timeline {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0 2rem 0;
  font-size: 3.5rem;
  font-family: boston-angel;
  letter-spacing: 0.5rem;
  color: var(--60-color);
}
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: var(--60-color);
  color: var(--60-color);
}
.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) rotate(45deg);
  width: 20px;
  height: 20px;
  z-index: 2;
  background: var(--60-color);
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 20px;
  background: #fff;
  box-shadow: 4px 13px 30px 1px var(--10-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.timeline ul li div h1 {
  color: var(--60-color);
}
.timeline ul li div time {
  position: absolute;
  background: var(--10-color);
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  height: 30px;
  top: -15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  color: var(--60-color);
  font-weight: bold;
}
.timeline ul li:nth-of-type(odd) > div {
  left: 45px;
}
.timeline ul li:nth-of-type(even) > div {
  left: -439px;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.timeline ul li:nth-of-type(odd) div {
  transform: translate3d(100px, -10px, 0) rotate(10deg);
}
.timeline ul li:nth-of-type(even) div {
  transform: translate3d(-100px, -10px, 0) rotate(10deg);
}
.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
    flex-direction: column;
  }
  .timeline ul li div div {
    width: 80%;
    margin: 10px;
  }
  .timeline ul li:nth-of-type(even) > div {
    left: -289px;
  }
}
@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 120px);
  }
  .timeline ul li:nth-of-type(even) > div {
    left: 45px;
  }
}
.guideline {
  height: 100%;
  background-color: var(--blue-light);
}
.guideline .guideline-container {
  background-color: #395985;
  border-radius: 20px;
  padding: 2rem;
}
.guideline .guideline-container .guideline-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 2rem;
}
.guideline .guideline-container .guideline-flex .each-guide-line {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 25rem;
}
.guideline .guideline-container .guideline-flex .each-guide-line .img-exp-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.guideline .guideline-container .guideline-flex .each-guide-line .img-exp-container p {
  font-weight: bold;
  font-size: 1.2rem;
}
.guideline .guideline-container .guideline-flex .each-guide-line .img-exp-container svg {
  height: 3rem;
  width: 3rem;
}
.guideline .guideline-container .guideline-flex .guideline-middle {
  border-left: 3px solid var(--60-color);
  border-right: 3px solid var(--60-color);
}
@media (max-width: 1140px) {
  .guideline .guideline-container .guideline-flex {
    flex-direction: column;
  }
  .guideline .guideline-container .guideline-middle {
    border-left: none !important;
    border-right: none !important;
    border-top: 3px solid var(--60-color);
    border-bottom: 3px solid var(--60-color);
  }
  .guideline .guideline-container .each-guide-line {
    max-width: 100% !important;
  }
}
.guideline .guideline-hero {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0 2rem 0;
  font-size: 3rem;
  font-family: boston-angel;
  color: var(--60-color);
}
.guideline .button-guideline {
  height: 3rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-top: 2rem;
  flex: 1fr;
  width: 10rem;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  background-color: var(--10-color);
  color: var(--60-color);
}

@keyframes pulseGlow {
  0% {
    filter: drop-shadow(0 0 0px var(--10-color)) drop-shadow(0 0 0px var(--pink-dark));
  }
  50% {
    filter: drop-shadow(0 0 40px var(--10-color)) drop-shadow(0 0 80px var(--pink-dark));
  }
  70% {
    filter: drop-shadow(0 0 20px var(--10-color)) drop-shadow(0 0 40px var(--pink-dark));
  }
  100% {
    filter: drop-shadow(0 0 0px var(--10-color)) drop-shadow(0 0 0px var(--pink-dark));
  }
}
@keyframes bob {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(20px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}
.throughout-wrapper {
  padding: 0;
  background: var(--60-color);
}
.throughout-wrapper h1 {
  font-size: 3rem;
  padding: 1rem;
  margin-left: 5rem;
  border-bottom: 3px solid var(--10-color);
  width: -moz-fit-content;
  width: fit-content;
  font-family: boston-angel;
}
@media (max-width: 700px) {
  .throughout-wrapper h1 {
    font-size: 2rem;
    padding: 0 3rem;
    margin: 0;
    white-space: pre-line;
    width: 100%;
  }
}

.throughout {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: 100%;
  max-width: 1100px;
  height: 70vh;
  padding: 1rem;
  margin: 0 auto;
}
.box-container .box {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: auto 200%;
  width: 25%;
  height: 340px;
  border-radius: 25px;
  cursor: pointer;
  transition: width 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
}
.box-container .box .overlay {
  opacity: 0;
}
.box-container .box.closed {
  width: 5%;
}
.box-container .box.closed .overlay {
  opacity: 1;
}
.box-container .box.expanded {
  width: 85%;
}
.box-container .box-1 {
  background: url("../../assets/throughout/10.png");
}
.box-container .box-2 {
  background: url("../../assets/throughout/11.jpg");
}
.box-container .box-3 {
  background: url("../../assets/throughout/12.jpg");
}
.box-container .box-4 {
  background: url("../../assets/throughout/12.jpg");
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}

.merchandise {
  background-color: var(--60-color);
  padding-top: 5rem;
  padding-bottom: 10rem;
}
.merchandise h1 {
  font-family: boston-angel;
  font-size: 4rem;
  margin-bottom: 0.5rem;
}
.merchandise .cta {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.merchandise .cta button {
  height: 3rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 10rem;
  cursor: pointer;
  display: block;
  background-color: var(--10-color);
  color: var(--60-color);
}
.merchandise p {
  border-bottom: 3px solid var(--10-color);
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 0.5rem;
}
.merchandise .img-container {
  width: 100%;
}
.merchandise .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.faq {
  min-height: 100vh;
  background: linear-gradient(var(--60-color), var(--30-color));
  padding-bottom: 10rem;
}
.faq h1 {
  font-family: boston-angel;
  font-size: 4rem;
  margin-bottom: 0.5rem;
  border-bottom: 3px solid var(--10-color);
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 5rem;
  text-align: right;
  float: right;
}
@media (max-width: 870px) {
  .faq h1 {
    float: none;
  }
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
}
.question .faq-container {
  width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.question .faq-item {
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question .faq-item:last-child {
  border-bottom: none;
}
.question .faq-question {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 3px;
  padding-top: 3px;
}
.question .faq-answer {
  font-size: 16px;
  max-height: 0;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}
.question .faq-answer.active {
  border-bottom: 1px solid #e0e0e0;
  padding: 1rem;
}
.question .icon-container i {
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.question .icon-container i.active {
  transform: rotate(90deg);
}

.sponsor {
  min-height: 100vh;
  background: linear-gradient(var(--30-color), var(--60-color));
  position: relative;
}
.sponsor .cloud {
  position: absolute;
  width: 40rem;
  top: -100px;
}
.sponsor .cloud-1-sponsor {
  left: -100px;
}
.sponsor .cloud-2-sponsor {
  right: -100px;
  transform: scaleX(-1);
}
.sponsor h1 {
  font-family: boston-angel;
  font-size: 4.5rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.sponsor .sponsor-video {
  aspect-ratio: 16/9;
  width: 500px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1110px) {
  .sponsor .cloud {
    width: 30rem;
  }
}
@media (max-width: 850px) {
  .sponsor .cloud {
    width: 20rem;
    top: -50px;
  }
}
@media (max-width: 550px) {
  .sponsor .cloud {
    width: 18rem;
    top: 0;
  }
  .sponsor .cloud-1-sponsor {
    left: -150px;
  }
  .sponsor .cloud-2-sponsor {
    right: -150px;
  }
}
@media (max-width: 650px) {
  .sponsor .sponsor-video {
    width: 350px;
  }
}
@media (max-width: 380px) {
  .sponsor .cloud {
    width: 15rem;
    top: 80px;
  }
  .sponsor .cloud-1-sponsor {
    left: -100px;
  }
  .sponsor .cloud-2-sponsor {
    right: -100px;
  }
  .sponsor .sponsor-video {
    width: 300px;
  }
}

.footer {
  display: flex;
  background-color: var(--10-color);
  border-top: 10px solid var(--30-color);
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}
.footer .logo {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
.footer .logo svg {
  width: 2rem;
  color: var(--text-color);
}

nav {
  background-color: var(--60-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  height: 4rem;
  position: fixed;
  z-index: 999;
  width: 100%;
  box-sizing: border-box;
}
nav .logo {
  display: flex;
  align-items: center;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
nav .logo img {
  width: 4rem;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
nav ul li a {
  padding: 0.5rem;
  cursor: pointer;
}
@media (max-width: 740px) {
  nav ul {
    display: none;
  }
}
nav button {
  height: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  flex: 1fr;
  cursor: pointer;
  background-color: var(--10-color);
  transition: all 0.2s linear;
  padding: 0 1rem;
}
nav button:hover {
  background-color: var(--30-color);
}

.animate-on-observe {
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.animate-up {
  transform: translateY(50px);
}

.animate-up.active {
  opacity: 1;
  transform: translateY(0);
}

.animate-down {
  transform: translateY(-50px);
}

.animate-down.active {
  opacity: 1;
  transform: translateY(0);
}

.animate-left {
  transform: translateX(-50px);
}

.animate-left.active {
  opacity: 1;
  transform: translateX(0);
}

.animate-right {
  transform: translateX(50px);
}

.animate-right.active {
  opacity: 1;
  transform: translateX(0);
}/*# sourceMappingURL=style.css.map */