@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "boston-angel";
    src: url("../../assets/boston-angel-regular.ttf");
}
:root{
    --60-color : #1a2754;
    --30-color : #395985;
    --10-color : #FCADCB;

    --pink-dark: #701459;

    --text-color : #fcfbf9
}

html{
    height: 500vh;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

*{
    font-family: Montserrat, "arial";
    text-decoration: none;
    color: var(--text-color);
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: .1rem;
}

section{
    position: relative;
    @media (min-width: 320px) {
        padding: 0 1.5rem;
    }

    @media (min-width: 768px) {
        padding: 0 3rem;
    }

    @media (min-width: 1024px) {
        padding: 0 10rem;
    }

    @media (min-width: 1440px) {
        padding: 0 15rem;
    }
}

.hero{
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(var(--10-color) ,var(--60-color));

    .cloud{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 120%;
        transform: translate(-50%, -50%);
        filter: blur(5px);
    }

    .sun{
        position: absolute;
        top: -15%;
        left: 50%;
        transform: translateX(-50%);
        width: 75%;
        height: 25%;
        background-color: var(--text-color);
        border-radius: 0 0 50% 50%; 
        overflow: hidden; 
        filter: blur(50px);
        opacity: 0.8;
    }

    svg{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .plane{
        width: 20rem;
        position: absolute;
        top: 10rem;
        right: -20rem;
    }

    .container-hero{
        width: 90%;
        position: relative;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

        .complete-logo{
            display: none;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .reborn{
            position: absolute;
            width: 15rem;
            height: 15rem;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

        }

        .letter{
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            z-index: 1;
        }

        .logo{
            position: relative;
            margin: 0 auto;
            width: 20rem;
            height: 20rem;
            z-index: 2;
        }

        .e {
            left: -8rem;
            transform: translateY(-50%) rotate(10deg); 
        }
        
        .r {
            left: -20rem;
            transform: translateY(-50%) rotate(-15deg);
        }

        .b{
            top: 45%;
            left: 30%;
            transform: translate(-50%, -50%);
            scale: 0.5;
            z-index: -1;
        }
        
        .o {
            left: 13rem;
            transform: translateY(-50%) rotate(-7deg); 
        }
        
        .r-small {
            left: 24rem;
            transform: translateY(-50%) rotate(-8deg); 
        }
        
        .n {
            left: 35rem;
            transform: translateY(-50%) rotate(10deg); 
        }
        
    }
}

@media (max-width: 1262px) {
    .reborn{
        position: absolute;
        width: 10rem !important;
        height: 10rem !important;
    }

    .logo{
        width: 15rem !important;
        height: 15rem !important;
    }

    .e {
        left: -5rem !important;
    }
    
    .r {
        left: -13rem !important;
    }
    
    .o {
        left: 10rem !important;
    }
    
    .r-small {
        left: 17rem !important;
    }
    
    .n {
        left: 24rem !important;
    }
}


@media (max-width: 850px) {
    .reborn{
        position: absolute;
        width: 7rem !important;
        height: 7rem !important;
    }

    .logo{
        width: 10rem !important;
        height: 10rem !important;
    }

    .e {
        left: -3.5rem !important;
    }
    
    .r {
        left: -9rem !important;
    }
    
    .o {
        left: 6.5rem !important;
    }
    
    .r-small {
        left: 11.5rem !important;
    }
    
    .n {
        left: 16rem !important;
    }
}

@media (max-width: 667px) {
    .reborn{
        display: none;
    }


    .complete-logo{
        display: block !important;

        width: 20rem ;
        height: 20rem ;
        position: absolute;
        top: -100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.about{
    height: 70rem;
    width: 100%;
    background-color: var(--60-color);
}

.about-card{
    position: absolute;
    background-color: var(--30-color);
    padding: 1rem;
    border-radius: 5px;
    max-width: 40rem;

    top: 0;
    right: -60rem;

    h1{
        font-family: boston-angel;
        font-size: 2.5rem;
        margin-bottom: .5rem;
    }

    .register{
        background-color: var(--10-color);
        height: 3rem;
        width: 40%;
        font-size: 1rem;
        color: var(--60-color);
        font-weight: bold;
        border: none;
        border-radius: 3px;
        margin-top: 2rem;
    }
}

.about-card-two{
    position: relative;
    background-color: var(--30-color);
    padding: 1rem;
    border-radius: 5px;
    display: none;

    h1{
        font-family: boston-angel;
        font-size: 2.5rem;
        margin-bottom: .5rem;
    }

    .register{
        background-color: var(--10-color);
        height: 3rem;
        width: 40%;
        font-size: 1rem;
        color: var(--30-color);
        font-weight: bold;
        border: none;
        border-radius: 3px;
        margin-top: 2rem;
    }
}
.about-spacer{
    height: 10rem;
}
@media (max-width: 1262px) {
    .about-card{
        max-width: 25rem;
    }
}

@media (max-width: 850px) {
    .about-card{
        max-width: 20rem;
    }

}

@media (max-width: 667px) {
    .about-card{
        display: none;
    }

    .about-card-two{
        display: block;
    }

    .about{
        height: 50rem;
    }
}
